.image-gallery {
    /* max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.image-row {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 10px;
    /* align-items: center;
    justify-content: space-between; */
    margin-bottom: 20px;
}

.image-row img {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.image-row img:hover {
    transform: scale(1.1);
}
.clickToCee{
    text-align: center;
    justify-content: center;
    
}